/*
!.gitignore
!README.md
!/Project1/
/Project1/*
!/Project1/practice1/
/Project1/practice1/*
!/Project1/practice1/Assets/
/Project1/practice1/Assets/*
!/Project1/practice1/Assets/BallController.cs

!/Project1/practice2/
/Project1/practice2/*
!/Project1/practice2/Assets/
/Project1/practice2/Assets/*
!/Project1/practice2/Assets/BallController.cs
!/Project1/practice2/Assets/PaddleController.cs
!/Project1/practice2/Assets/GameController.cs

!/Project1/practice3/
/Project1/practice3/*
!/Project1/practice3/Assets/
/Project1/practice3/Assets/*
!/Project1/practice3/Assets/BallController.cs
!/Project1/practice3/Assets/PaddleController.cs
!/Project1/practice3/Assets/GameController.cs

!/Project1/task1/
/Project1/task1/*
!/Project1/task1/Assets/
/Project1/task1/Assets/*
!/Project1/task1/Assets/Scripts/
/Project1/task1/Assets/Scripts/*
!/Project1/task1/Assets/Scripts/BallController.cs
!/Project1/task1/Assets/Scripts/PaddleController.cs
!/Project1/task1/Assets/Scripts/GameController.cs
